html, body {
  margin: 0;
}
.page {
  padding: 20px 200px;
  font-size: 16px;
}
.canvas {
  width: 200px;
  height: 150px;
  float: left;
  padding: 5px;
}

.primitivesPage {
  width: 100%;
  height: 100%;
}
.pCanvas {
  width: 100vw;
  height: calc(100vh - 90px);
  margin: 0;
  padding: 0;
}